.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  background: var(--button-background-color);
  border: var(--button-border);
  overflow: hidden;
  position: relative;
}

.button span {
  display: block;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.buttonLoadingContainer {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateY(100%);
}

.button.isLoading .buttonLoadingContainer {
  transform: translateY(2px);
  opacity: 1;
}

.button.isLoading span {
  transform: translateY(-100%);
  opacity: 0;
}

.button:hover {
  background: var(--button-hover-background-color);
  transform: scale(1.02);
}

.button:focus-visible {
  outline: none;
  background: var(--button-focus-background-color);
  box-shadow:
    0px 0px 0px 2px var(--color-base-1),
    0px 0px 0px 4px var(--button-focus-outline-color);
}

.button:active {
  background: var(--button-active-background-color);
  transform: scale(0.98);
}

.button:disabled,
.button[disabled] {
  cursor: not-allowed;
  background: var(--button-disabled-background-color);
  color: var(--button-disabled-text-color);
}
