.button {
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;

  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
}

.button span {
  outline: none;
}

.button:hover {
  background-color: var(--button-hover-background-color);
  transform: scale(1.02);
}

.button:focus-visible {
  outline: none;
  box-shadow:
    0px 0px 0px 2px var(--color-base-0),
    0px 0px 0px 4px var(--button-focus-color);
}
