.box {
  max-width: var(--box-max-width);
  max-height: var(--box-max-height);
  min-width: var(--box-min-width);
  min-height: var(--box-min-height);
  padding: var(--box-padding);
  margin: var(--box-margin);
  flex-grow: var(--box-grow);
  flex-shrink: var(--box-shrink);
  background: var(--box-background);
  border-radius: var(--box-border-radius);
  border: var(--box-border);
  border-left: var(--box-border-left);
  border-right: var(--box-border-right);
  border-top: var(--box-border-top);
  border-bottom: var(--box-border-bottom);
}
